body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #034694;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ff9900;
}

nav {
    background-color: #0b2241;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    background-color: #ffffff;
    font-size: 1.1em;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #034694;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav li {
    display: inline-block;
    width: 150px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

h1 {
    text-align: center;
    font-family: 'Impact', 'Verdana', sans-serif;
    color: #ff9900;
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 0;
}

p {
    line-height: 1.7;
    margin-bottom: 15px;
}

main ul {
    list-style-type: disc;
    margin-left: 20px;
}